.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.box_1 {
}
._图片 {
}
.placeholder {
}
.primary_button {
  color:#FFFFFF;
}
._一级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._16正文文字 {
}
._二级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._1616 {
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#797979;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._流程形状 {
}
.sticky_1 {
  text-align:left;
}
._形状 {
}
._形状1 {
}
._32号字_单行列表内，右方操作说明的文字__） {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
.box_11 {
}
.line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.shape {
}
._36号字_顶部标题、大按钮、弹窗提示主标题_ {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.image {
}
.shape1 {
}
.new_style {
}
._2 {
}
