body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:995px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:273px;
}
#u55_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:273px;
  overflow:auto;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:0px;
  width:730px;
  height:273px;
}
#u56_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:273px;
  overflow:auto;
}
